In [ ]:
# Examples of variables
counter = 100
miles = 1000.0
name = 'Python'
is_loan = True

In [ ]:
# Output 1
print(counter)
print(type(counter))

100
<class 'int'>

In [ ]:
# class 'int' means that it is of integer type

In [ ]:
# Output 2
print(miles)
print(type(miles))

1000.0
<class 'float'>

In [ ]:
# class 'int' means that it is of decimal value

In [ ]:
# Output 3
print(name)
print(type(name))

Python
<class 'str'>

In [ ]:
# class 'str' means that it is of 'string' value

In [ ]:
# Output 4
print(is_loan)
print(type(is_loan))

True
<class 'bool'>

In [ ]:
# class 'bool' means that it is of 'boolean' value

In [ ]:
# Conditional Statements ->

In [ ]:
# if statement
a = 5
if a > 0:
  print('a is greater than 0')

a is greater than 0

In [ ]:
'''
Space before print() statement in tha above block is called as indentation.
Python is indent sensitive programming language
Indentation indicates the hierarchy of code in Python
'''

In [ ]:
# if else statement
a = -5
if a > 0:
  print('a is greater than 0')
else:
  print('a is less than 0')

a is less than 0

In [ ]:
# if elif else statement
a = 0
if a > 0:
  print('a is greater than 0')
elif a < 0:
  print('a is less than 0')
else:
  print('a is equal to 0')

a is equal to 0

In [ ]:
# elif is the keyword which stands for 'else if'
# We can have any number of 'elif' conditions

In [ ]:
# for() loop Example
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
'''
for() loop executes once for every value in the iterable object
x is called as an iterator which iterates over the values of the variable
'''

In [ ]:
# while() loop Example
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
'''
while() loop will keep on getting executed until and unless the condition specified turn False
We have initialized the value of i to 1
'''

In [ ]:
# Nested Loop Example
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
'''
In the first iteration, x = 'red' and y = 'apple',
In the second iteration, x = 'red' and y = 'banana',
In the third iteration, x = 'red' and y = 'cherry',
In the fourth iteration, x = 'big' and y = 'apple',
In the fifth iteration, x = 'big' and y = 'banana',
In the sixth iteration, x = 'big' and y = 'cherry',
In the seventh iteration, x = 'tasty' and y = 'apple',
In the eighth iteration, x = 'tasty' and y = 'banana',
In the ninth iteration, x = 'tasty' and y = 'cherry'
'''

In [ ]:
# break is used to terminate the loop in which it is placed

In [ ]:
# break Example 1
for letter in 'Python':
  print('Current Letter :', letter)
  if letter == 'h':
    break

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h

In [ ]:
# break Example 2
var = 10
while var > 0:
  print('Current Value :', var)
  var = var - 1
  if var == 5:
    break

Current Value : 10
Current Value : 9
Current Value : 8
Current Value : 7
Current Value : 6

In [ ]:
# Inbuilt Functions

In [ ]:
# Min(), Max() Example
print('Minimum of 4, 12, 18 :', min(4, 12, 18))
print('Maximum of 4, 12, 18 :', max(4, 12, 18))

Minimum of 4, 12, 18 : 4
Maximum of 4, 12, 18 : 18

In [ ]:
# Absolute Value
print('Absolute value of -45 :', abs(-45))

Absolute value of -45 : 45

In [ ]:
# User Defined Functions (UDF)
def add_numbers(x, y):
  s = x+y
  return s

In [ ]:
# Driver Code
add_numbers(2, 3)

5

In [ ]:
# Driver Code
add_numbers(3, 7)

10

In [ ]:
# Lambda Function
x = lambda a : a + 10
print(x(5))

15

In [ ]:
# Lambda Functions are used when we have a single line body of the UDF

In [ ]:
# Lambda Function
y = lambda a, b : a * b
print(y(5, 6))

30

In [ ]:
# Lambda Function
z = lambda a, b, c : a * b + c
print(z(5, 6, 3))

33

In [ ]:
# Map Function
## Creating a UDF
def sqr(n):
  return n ** 2

## We will create a list
nums = [1, 2, 3, 4, 5]

## Mapping the function
res = map(sqr, nums)
print(list(res))

[1, 4, 9, 16, 25]

In [ ]:
# Filter Function Example
ages = [5, 12, 17, 18, 24, 32]

## Creating a function
def myFunc(x):
  if x < 18:
    return False
  else:
    return True

## Using the filter function
adults = filter(myFunc, ages)
print(list(adults))

[18, 24, 32]

In [ ]:
# String Operation and Manipulation

In [ ]:
# Creating a String
s = 'Python'
print(s)
print(type(s))

Python
<class 'str'>

In [ ]:
# Strings are indexed in Python starting from 0

In [ ]:
# Accessing the elements of the string through indexes
print('First Element :', s[0])

First Element : P

In [ ]:
# Accessing the elements from right
print('Last Element :', s[-1])

Last Element : n

In [ ]:
# Negative Indexing means you are moving from right to left
# Positive Indexing means you are moving from left to right

In [ ]:
# Question ->
s = 'Python'
print(s[3])

h

In [ ]:
# Question ->
s = 'Python'
print(s[-3])

h

In [ ]:
# Concept of Slicing -> string (start index : stop index)
# Element at the stopping index is not included

In [ ]:
# Example
s = 'Procastination'
print(s[2:5])

oca

In [ ]:
# Question
s = 'Procastination'
print(s[4:9])

astin

In [ ]:
# Concept of step in slicing -> string[start : stop : step]
s = 'Procastination'
print(s[2:9:2])

oatn

In [ ]:
# Default value of step is 1

In [ ]:
# String are immutable
s = 'Python'
s[0] = 'S'

TypeError: 'str' object does not support item assignment

In [ ]:
# Deleting a String
s = 'Python'
print('Output :', s)
del s
print('Output :', s)

Output : Python

NameError: name 's' is not defined

In [ ]:
# Formatting Strings -> Python provides different ways to include objects in strings
name = 'Avishek'
age = 27
print(f"Name : {name}, Age : {age}")

Name : Avishek, Age : 27

In [ ]:
# format()
s = "My name is {} and I am {} years old.".format("Avishek", 27)
print(s)

My name is Avishek and I am 27 years old.

In [ ]:
# Basic Data Structures -> List, Tuple, Set, Dictionary

In [ ]:
'''
Python Lists are Heterogenous (elements of different data types can be accomodated in it),
Ordered (Sequence in which you give the data to a list, it preserves that order),
Mutable (values can be changed once you initialize the list),
They are declared with square barckets []
'''

In [ ]:
# Creating a list
a = [1, 2, 3, 4, 5]
print('List :', a)
print(type(a))

List : [1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
# Lists are Mutable
ls = ['a', 'b', 'c', 'd', 'e']
print('Actual List :', ls)
ls[0] = 'p'
print('Updated List :', ls)

Actual List : ['a', 'b', 'c', 'd', 'e']
Updated List : ['p', 'b', 'c', 'd', 'e']

In [ ]:
# Append Operation
a = [10, 15, 20]
print('Actual List :', a)
a.append(25)
print('Updated List :', a)

Actual List : [10, 15, 20]
Updated List : [10, 15, 20, 25]

In [ ]:
# List are heterogenous
a = [1, 5.0, 'Python', True]
print(a)
print(type(a))

[1, 5.0, 'Python', True]
<class 'list'>

In [ ]:
# Lists allow duplicate entries
a = [1, 1, 1, 2, 2, 3, 3, 4, 5]
print(a)
print(type(a))

[1, 1, 1, 2, 2, 3, 3, 4, 5]
<class 'list'>

In [ ]:
# Accessing the elements of the list through indexing
ls = ['a', 'b', 'c', 'd', 'e']
print('First Element :', ls[0])
print('Last Element :', ls[-1])

First Element : a
Last Element : e

In [ ]:
# insert(index, element)
a = [100, 200, 300, 400, 500]
print('Actual List :', a)
a.insert(2, 3000)
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 3000, 300, 400, 500]

In [ ]:
# extend() method
a = [100, 200, 300]
print('Actual List :', a)
a.extend([400, 500])
print('Updated List :', a)

Actual List : [100, 200, 300]
Updated List : [100, 200, 300, 400, 500]

In [ ]:
# Removing elements from a list
a = [100, 200, 300, 400, 500]
print('Actual List :', a)
a.remove(300)
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 400, 500]

In [ ]:
# Removing the elements from a list
a = [100, 200, 300, 400, 500]
print('Actual List :', a)
del a[3]
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 300, 500]

In [ ]:
# Doubt
a = [100, 200, 300, 400, 500]
print('Actual List :', a)
del a
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]

NameError: name 'a' is not defined

In [ ]:
'''
Python Tuples are Heterogenous (elements of different data types can be accomodated in it),
Ordered (Sequence in which you give the data to a tuple, it preserves that order),
Immutable (values cannot be changed once you initialize the tuple),
They are declared with round barckets ()
'''

In [ ]:
# Creating a tuple
a = (1, 2, 3, 4, 5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# Tuples are immutable
a = (1, 2, 3, 4, 5)
print('Actual Tuple :', a)
a[0] = 10
print('Updated Tuple :', a)

Actual Tuple : (1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Accessing the elements of a tuple
tup = ('a', 'b', 'c', 'd', 'e')
print('Tuple :', tup)
print('First Element :', tup[0])
print('Last Element :', tup[-1])

Tuple : ('a', 'b', 'c', 'd', 'e')
First Element : a
Last Element : e

In [ ]:
# Slicing a tuple
t = ('a', 'b', 'c', 'd', 'e')
print(t[1:3])

('b', 'c')

In [ ]:
# While slicing last element is not included

In [ ]:
# Getting the length of a tuple
t = ('a', 'b', 'c', 'd', 'e')
print(len(t))

5

In [ ]:
# Converting a list to a tuple
a = [1, 2, 3]
print(a)
print(type(a))
b = tuple(a)
print(b)
print(type(b))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

In [ ]:
'''
Python Sets are Heterogenous (elements of different data types can be accomodated in it),
Unordered (Sequence in which you give the data to a set, it does not preserve that order),
Immutable (values cannot be changed once you initialize the set),
They are declared with curly barckets {} or with set()
Sets do not allow duplicate values in them
'''

In [ ]:
# Creating a set
a = set([1, 2, 3, 4, 5])
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5}
Type : <class 'set'>

In [ ]:
# Sets do not allow duplicate values in them
a = {1, 1, 1, 2, 2, 3, 3, 4, 5}
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5}
Type : <class 'set'>

In [ ]:
# Sets are unordered
a = {3, 1, 4, 1, 5, 9, 2}
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5, 9}
Type : <class 'set'>

In [ ]:
'''
The order in which data is given and
the order in which data is retrieved is not same
'''

In [ ]:
# Sets cannot be indexed
set1 = {'a', 'b', 'c', 'd', 'e'}
print('First Element :', set1[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# add() method in sets
set1 = {1, 2, 3}
print('Actual Set :', set1)

set1.add(5)
print('Updated Set :', set1)

Actual Set : {1, 2, 3}
Updated Set : {1, 2, 3, 5}

In [ ]:
# update() method in Sets
set1 = {1, 2, 3}
print('Actual Set :', set1)

set1.update([4, 5, 6])
print('Updated Set :', set1)

Actual Set : {1, 2, 3}
Updated Set : {1, 2, 3, 4, 5, 6}

In [ ]:
# Are sets heterogenous ?
set1 = {1, 5.0, 'Python', True}
print('Set :', set1)
print('Type :', type(set1))

Set : {1, 5.0, 'Python'}
Type : <class 'set'>

In [ ]:
# using remove() method
set1 = {1, 2, 3, 4, 5}
print('Actual Set :', set1)

set1.remove(4)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 5}

In [ ]:
# using remove() method
set1 = {1, 2, 3, 4, 5}
print('Actual Set :', set1)

set1.remove(7)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}

KeyError: 7

In [ ]:
# using discard method
set1 = {1, 2, 3, 4, 5}
print('Actual Set :', set1)

set1.discard(4)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 5}

In [ ]:
# using discard method
set1 = {1, 2, 3, 4, 5}
print('Actual Set :', set1)

set1.discard(7)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 4, 5}

In [ ]:
# pop() method
set1 = {1, 2, 3, 4, 5}
val = set1.pop()

print('Pop Element :', val)
print('Set :', set1)

Pop Element : 1
Set : {2, 3, 4, 5}

In [ ]:
# clear() method
set1 = {1, 2, 3, 4, 5}
print('Actual Set :', set1)

set1.clear()
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : set()

In [ ]:
# Operations on Set ->

In [ ]:
# union()
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh', 'Mrunay', 'Kedar', 'Abhishek'}
print('Actual Set 1 :\n', a)
print('Actual Set 2 :\n', b)
print('Union :\n', a.union(b))

Actual Set 1 :
 {'Adarsh', 'Divyanshu', 'Abhishek'}
Actual Set 2 :
 {'Kedar', 'Mrunay', 'Abhishek', 'Sateesh'}
Union :
 {'Mrunay', 'Abhishek', 'Sateesh', 'Kedar', 'Adarsh', 'Divyanshu'}

In [ ]:
# intersection()
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh', 'Mrunay', 'Kedar', 'Abhishek'}
print('Actual Set 1 :\n', a)
print('Actual Set 2 :\n', b)
print('Union :\n', a.intersection(b))

Actual Set 1 :
 {'Adarsh', 'Divyanshu', 'Abhishek'}
Actual Set 2 :
 {'Kedar', 'Mrunay', 'Abhishek', 'Sateesh'}
Union :
 {'Abhishek'}

In [ ]:
# difference()
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh', 'Mrunay', 'Kedar', 'Abhishek'}
print('Actual Set 1 :\n', a)
print('Actual Set 2 :\n', b)
print('Union :\n', a.difference(b))

Actual Set 1 :
 {'Adarsh', 'Divyanshu', 'Abhishek'}
Actual Set 2 :
 {'Kedar', 'Mrunay', 'Abhishek', 'Sateesh'}
Union :
 {'Adarsh', 'Divyanshu'}

In [ ]:
# frozenset() -> Immutable

In [ ]:
# Creating a frozen set
fset = frozenset([1, 2, 3, 4, 5])
print('Frozen Set :', fset)
print('Type :', type(fset))

Frozen Set : frozenset({1, 2, 3, 4, 5})
Type : <class 'frozenset'>

In [ ]:
# Dictionary in Python ->

In [ ]:
# Creating a dictionary
d1 = {
    1 : 'List',
    2 : 'Tuples',
    3 : 'Set',
    4 : 'Dictionary'
}
print('Dictionary :\n', d1)
print('Type :', type(d1))
print('Keys :', d1.keys())
print('Values :', d1.values())

Dictionary :
 {1: 'List', 2: 'Tuples', 3: 'Set', 4: 'Dictionary'}
Type : <class 'dict'>
Keys : dict_keys([1, 2, 3, 4])
Values : dict_values(['List', 'Tuples', 'Set', 'Dictionary'])

In [ ]:
# Extracting the value associated w.r.t. a key
print(d1[1])

List

In [ ]:
# Dictionary is mutable
d1[3] = 'Frozen Set'
print('Dictionary  :\n', d1)
print('Type :', type(d1))

Dictionary  :
 {1: 'List', 2: 'Tuples', 3: 'Frozen Set', 4: 'Dictionary'}
Type : <class 'dict'>

In [ ]:
# Removing elements from a list
print('Actual Dictionary :\n', d1)
del d1[1]
print('Updated Dictionary :\n', d1)

Actual Dictionary :
 {1: 'List', 2: 'Tuples', 3: 'Frozen Set', 4: 'Dictionary'}
Updated Dictionary :
 {2: 'Tuples', 3: 'Frozen Set', 4: 'Dictionary'}

In [ ]:
# pop() method
val = d1.pop(2)
print('Pop Element :', val)
print('Dictionary :', d1)

Pop Element : Tuples
Dictionary : {3: 'Frozen Set', 4: 'Dictionary'}

In [ ]:
# popitem()
key, val = d1.popitem()
print('Key :', key)
print('Value :', val)
print('Dictionary :', d1)

Key : 4
Value : Dictionary
Dictionary : {3: 'Frozen Set'}

In [ ]:
# Extracting the pair of elements
d1 = {
    1 : 'List',
    2 : 'Tuples',
    3 : 'Set',
    4 : 'Dictionary'
}
for key, val in d1.items():
  print(f"{key} : {val}")

1 : List
2 : Tuples
3 : Set
4 : Dictionary

In [ ]:
# Adding a key value pair
d1[5] = 'FrozenSet'
print('Dictionary :', d1)

Dictionary : {1: 'List', 2: 'Tuples', 3: 'Set', 4: 'Dictionary', 5: 'FrozenSet'}